<!DOCTYPE html>
<html>
<head>
    <title>Title and Image Data</title>
</head>
<body>
    <table border="1">
        <thead>
            <tr>
                <th>Title</th>
                <th>Images</th>
            </tr>
        </thead>
        <tbody>
            {% for title_id, data in titles_data.items() %}
            <tr>
                <td>{{ data['title_name'] }}</td>
                <td>
                    <ul>
                        {% for image in data['images'] %}
                        <img src="data:image/jpeg;base64,{{ image.data }}" alt="Image">

                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
